@model EsselTestLocalApplication.Models.HR.EmpDocument
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@Model.DocName</h4>
        </div>
        <div class="modal-body" style="overflow-x:hidden">
            <div class="row text-center">
                <img id="#Previewimg" src="@Model.Path" width="150" height="150" />
            </div>
        </div>
    </div>
</div>